In [42]:
import pandas as pd

In [56]:
df = pd.read_csv("./data.txt")
df = df.rename(columns=lambda x: x.strip())
df = df.drop(['C/A','UNIT','SCP','DIVISION','DESC'],axis = 1)
df['LINENAME'] = df['LINENAME'].str.split("")

In [57]:
df["TIME"] = df["TIME"].str.split(':').str[0].astype(int)

In [58]:
df["TIME"] = (df["TIME"]/4).astype(int)

In [59]:
df

,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS
0,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,0,7018152,2379496
1,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,1,7018180,2379501
2,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,2,7018200,2379549
3,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,3,7018283,2379622
4,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,4,7018522,2379696
5,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,5,7018849,2379762
6,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,0,7019002,2379787
7,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,1,7019026,2379792
8,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,2,7019045,2379811
9,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,3,7019127,2379865
10,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,4,7019332,2379919
11,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,5,7019562,2379967
12,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,0,7019671,2379985
13,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,1,7019678,2379988
14,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,2,7019721,2380065
15,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,3,7019852,2380224
16,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,4,7020110,2380277
17,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,5,7020841,2380336
18,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,0,7021033,2380362
19,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,1,7021054,2380369
20,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,2,7021102,2380468
21,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,3,7021261,2380731
22,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,4,7021564,2380794
23,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,5,7022365,2380878
24,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,0,7022575,2380908
25,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,1,7022585,2380913
26,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,2,7022624,2381023
27,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,3,7022796,2381260
28,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,4,7023139,2381326
29,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,5,7023878,2381403
...,...,...,...,...,...,...
202517,RIT-ROOSEVELT,"[, R, ]",04/15/2019,0,5554,374
202518,RIT-ROOSEVELT,"[, R, ]",04/15/2019,1,5554,374
202519,RIT-ROOSEVELT,"[, R, ]",04/15/2019,2,5554,374
202520,RIT-ROOSEVELT,"[, R, ]",04/15/2019,3,5554,374
202521,RIT-ROOSEVELT,"[, R, ]",04/15/2019,4,5554,374
202522,RIT-ROOSEVELT,"[, R, ]",04/15/2019,5,5554,374
202523,RIT-ROOSEVELT,"[, R, ]",04/16/2019,0,5554,374
202524,RIT-ROOSEVELT,"[, R, ]",04/16/2019,1,5554,374
202525,RIT-ROOSEVELT,"[, R, ]",04/16/2019,2,5554,374
202526,RIT-ROOSEVELT,"[, R, ]",04/16/2019,3,5554,374
202527,RIT-ROOSEVELT,"[, R, ]",04/16/2019,4,5554,376
202528,RIT-ROOSEVELT,"[, R, ]",04/16/2019,5,5554,376
202529,RIT-ROOSEVELT,"[, R, ]",04/17/2019,0,5554,376
202530,RIT-ROOSEVELT,"[, R, ]",04/17/2019,1,5554,376
202531,RIT-ROOSEVELT,"[, R, ]",04/17/2019,2,5554,376
202532,RIT-ROOSEVELT,"[, R, ]",04/17/2019,3,5554,376
202533,RIT-ROOSEVELT,"[, R, ]",04/17/2019,4,5554,376
202534,RIT-ROOSEVELT,"[, R, ]",04/17/2019,5,5554,376
202535,RIT-ROOSEVELT,"[, R, ]",04/18/2019,0,5554,376
202536,RIT-ROOSEVELT,"[, R, ]",04/18/2019,1,5554,376
202537,RIT-ROOSEVELT,"[, R, ]",04/18/2019,2,5554,376
202538,RIT-ROOSEVELT,"[, R, ]",04/18/2019,3,5554,376
202539,RIT-ROOSEVELT,"[, R, ]",04/18/2019,4,5554,376
202540,RIT-ROOSEVELT,"[, R, ]",04/18/2019,5,5554,376
202541,RIT-ROOSEVELT,"[, R, ]",04/19/2019,0,5554,376
202542,RIT-ROOSEVELT,"[, R, ]",04/19/2019,1,5554,376
202543,RIT-ROOSEVELT,"[, R, ]",04/19/2019,2,5554,376
202544,RIT-ROOSEVELT,"[, R, ]",04/19/2019,3,5554,376
202545,RIT-ROOSEVELT,"[, R, ]",04/19/2019,4,5554,376
202546,RIT-ROOSEVELT,"[, R, ]",04/19/2019,5,5554,376

In [60]:
df = df.LINENAME.apply(pd.Series) \
    .merge(df, right_index = True, left_index = True) \
    .drop(["LINENAME"], axis = 1) \
    .melt(id_vars = ['STATION', 'DATE','TIME','ENTRIES','EXITS'], value_name = "LINENAME") \
    .drop("variable", axis = 1) \
    .dropna()

In [61]:
def process_line(df):
    return df.groupby(['STATION','DATE','TIME'], as_index=False).agg({"ENTRIES": "sum","EXITS": "sum"})

In [62]:
df = df[df.LINENAME != '']
lines = df.LINENAME.unique()[1:]

In [63]:
df_dict = {}
for line in lines:
    df_dict[line] = process_line(df[df.LINENAME == line])
    df_dict[line] = df_dict[line].sort_values(by=['DATE','TIME'])
    df_dict[line].to_csv(line+"line.csv")

In [64]:
df_dict.keys()

dict_keys(['A', 'B', 'L', 'J', 'R', 'F', 'S', 'Q', 'D', 'E', 'M', 'C', '2', 'G', '1', '4', '6', '3', '7', '5', 'Z', 'W'])