In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data.txt")
df = df.rename(columns=lambda x: x.strip())
df = df.drop(['C/A','UNIT','SCP','DIVISION','DESC'],axis = 1)
df['LINENAME'] = df['LINENAME'].str.split("")

In [3]:
df["TIME"] = df["TIME"].str.split(':').str[0].astype(int)

In [4]:
df["TIME"] = (df["TIME"]/4).astype(int)

In [5]:
df = df.assign(line = df.LINENAME.apply(len)-2)

In [6]:
df

,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS,line
0,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,0,7018152,2379496,7
1,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,1,7018180,2379501,7
2,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,2,7018200,2379549,7
3,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,3,7018283,2379622,7
4,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,4,7018522,2379696,7
5,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/13/2019,5,7018849,2379762,7
6,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,0,7019002,2379787,7
7,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,1,7019026,2379792,7
8,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,2,7019045,2379811,7
9,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,3,7019127,2379865,7
10,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,4,7019332,2379919,7
11,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/14/2019,5,7019562,2379967,7
12,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,0,7019671,2379985,7
13,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,1,7019678,2379988,7
14,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,2,7019721,2380065,7
15,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,3,7019852,2380224,7
16,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,4,7020110,2380277,7
17,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/15/2019,5,7020841,2380336,7
18,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,0,7021033,2380362,7
19,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,1,7021054,2380369,7
20,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,2,7021102,2380468,7
21,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,3,7021261,2380731,7
22,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,4,7021564,2380794,7
23,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/16/2019,5,7022365,2380878,7
24,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,0,7022575,2380908,7
25,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,1,7022585,2380913,7
26,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,2,7022624,2381023,7
27,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,3,7022796,2381260,7
28,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,4,7023139,2381326,7
29,59 ST,"[, N, Q, R, 4, 5, 6, W, ]",04/17/2019,5,7023878,2381403,7
...,...,...,...,...,...,...,...
202517,RIT-ROOSEVELT,"[, R, ]",04/15/2019,0,5554,374,1
202518,RIT-ROOSEVELT,"[, R, ]",04/15/2019,1,5554,374,1
202519,RIT-ROOSEVELT,"[, R, ]",04/15/2019,2,5554,374,1
202520,RIT-ROOSEVELT,"[, R, ]",04/15/2019,3,5554,374,1
202521,RIT-ROOSEVELT,"[, R, ]",04/15/2019,4,5554,374,1
202522,RIT-ROOSEVELT,"[, R, ]",04/15/2019,5,5554,374,1
202523,RIT-ROOSEVELT,"[, R, ]",04/16/2019,0,5554,374,1
202524,RIT-ROOSEVELT,"[, R, ]",04/16/2019,1,5554,374,1
202525,RIT-ROOSEVELT,"[, R, ]",04/16/2019,2,5554,374,1
202526,RIT-ROOSEVELT,"[, R, ]",04/16/2019,3,5554,374,1
202527,RIT-ROOSEVELT,"[, R, ]",04/16/2019,4,5554,376,1
202528,RIT-ROOSEVELT,"[, R, ]",04/16/2019,5,5554,376,1
202529,RIT-ROOSEVELT,"[, R, ]",04/17/2019,0,5554,376,1
202530,RIT-ROOSEVELT,"[, R, ]",04/17/2019,1,5554,376,1
202531,RIT-ROOSEVELT,"[, R, ]",04/17/2019,2,5554,376,1
202532,RIT-ROOSEVELT,"[, R, ]",04/17/2019,3,5554,376,1
202533,RIT-ROOSEVELT,"[, R, ]",04/17/2019,4,5554,376,1
202534,RIT-ROOSEVELT,"[, R, ]",04/17/2019,5,5554,376,1
202535,RIT-ROOSEVELT,"[, R, ]",04/18/2019,0,5554,376,1
202536,RIT-ROOSEVELT,"[, R, ]",04/18/2019,1,5554,376,1
202537,RIT-ROOSEVELT,"[, R, ]",04/18/2019,2,5554,376,1
202538,RIT-ROOSEVELT,"[, R, ]",04/18/2019,3,5554,376,1
202539,RIT-ROOSEVELT,"[, R, ]",04/18/2019,4,5554,376,1
202540,RIT-ROOSEVELT,"[, R, ]",04/18/2019,5,5554,376,1
202541,RIT-ROOSEVELT,"[, R, ]",04/19/2019,0,5554,376,1
202542,RIT-ROOSEVELT,"[, R, ]",04/19/2019,1,5554,376,1
202543,RIT-ROOSEVELT,"[, R, ]",04/19/2019,2,5554,376,1
202544,RIT-ROOSEVELT,"[, R, ]",04/19/2019,3,5554,376,1
202545,RIT-ROOSEVELT,"[, R, ]",04/19/2019,4,5554,376,1
202546,RIT-ROOSEVELT,"[, R, ]",04/19/2019,5,5554,376,1

In [7]:
df = df.LINENAME.apply(pd.Series) \
    .merge(df, right_index = True, left_index = True) \
    .drop(["LINENAME"], axis = 1) \
    .melt(id_vars = ['STATION', 'DATE','TIME','ENTRIES','EXITS','line'], value_name = "LINENAME") \
    .drop("variable", axis = 1) \
    .dropna()

In [8]:
def process_line(df):
    return df.groupby(['STATION','DATE','TIME'], as_index=False).agg({"ENTRIES": "sum","EXITS": "sum"})

In [9]:
df

                STATION        DATE  TIME  ENTRIES    EXITS  line LINENAME
0                 59 ST  04/13/2019     0  7018152  2379496     7
1                 59 ST  04/13/2019     1  7018180  2379501     7
2                 59 ST  04/13/2019     2  7018200  2379549     7
3                 59 ST  04/13/2019     3  7018283  2379622     7
4                 59 ST  04/13/2019     4  7018522  2379696     7
5                 59 ST  04/13/2019     5  7018849  2379762     7
6                 59 ST  04/14/2019     0  7019002  2379787     7
7                 59 ST  04/14/2019     1  7019026  2379792     7
8                 59 ST  04/14/2019     2  7019045  2379811     7
9                 59 ST  04/14/2019     3  7019127  2379865     7
10                59 ST  04/14/2019     4  7019332  2379919     7
11                59 ST  04/14/2019     5  7019562  2379967     7
12                59 ST  04/15/2019     0  7019671  2379985     7
13                59 ST  04/15/2019     1  7019678  2379988     7
14                59 ST  04/15/2019     2  7019721  2380065     7
15                59 ST  04/15/2019     3  7019852  2380224     7
16                59 ST  04/15/2019     4  7020110  2380277     7
17                59 ST  04/15/2019     5  7020841  2380336     7
18                59 ST  04/16/2019     0  7021033  2380362     7
19                59 ST  04/16/2019     1  7021054  2380369     7
20                59 ST  04/16/2019     2  7021102  2380468     7
21                59 ST  04/16/2019     3  7021261  2380731     7
22                59 ST  04/16/2019     4  7021564  2380794     7
23                59 ST  04/16/2019     5  7022365  2380878     7
24                59 ST  04/17/2019     0  7022575  2380908     7
25                59 ST  04/17/2019     1  7022585  2380913     7
26                59 ST  04/17/2019     2  7022624  2381023     7
27                59 ST  04/17/2019     3  7022796  2381260     7
28                59 ST  04/17/2019     4  7023139  2381326     7
29                59 ST  04/17/2019     5  7023878  2381403     7
...                 ...         ...   ...      ...      ...   ...      ...
2770417  TIMES SQ-42 ST  04/15/2019     1  7858437  2525922    12
2770418  TIMES SQ-42 ST  04/15/2019     2  7858913  2525999    12
2770419  TIMES SQ-42 ST  04/15/2019     3  7859751  2526268    12
2770420  TIMES SQ-42 ST  04/15/2019     4  7860253  2526483    12
2770421  TIMES SQ-42 ST  04/15/2019     5  7861266  2526757    12
2770422  TIMES SQ-42 ST  04/16/2019     0  7861757  2526894    12
2770423  TIMES SQ-42 ST  04/16/2019     1  7861852  2526923    12
2770424  TIMES SQ-42 ST  04/16/2019     2  7862404  2527014    12
2770425  TIMES SQ-42 ST  04/16/2019     3  7863268  2527286    12
2770426  TIMES SQ-42 ST  04/16/2019     4  7863860  2527527    12
2770427  TIMES SQ-42 ST  04/16/2019     5  7864940  2527835    12
2770428  TIMES SQ-42 ST  04/17/2019     0  7865783  2527987    12
2770429  TIMES SQ-42 ST  04/17/2019     1  7865925  2528028    12
2770430  TIMES SQ-42 ST  04/17/2019     2  7866492  2528138    12
2770431  TIMES SQ-42 ST  04/17/2019     3  7867394  2528411    12
2770432  TIMES SQ-42 ST  04/17/2019     4  7867991  2528619    12
2770433  TIMES SQ-42 ST  04/17/2019     5  7869164  2528921    12
2770434  TIMES SQ-42 ST  04/18/2019     0  7869959  2529077    12
2770435  TIMES SQ-42 ST  04/18/2019     1  7870096  2529115    12
2770436  TIMES SQ-42 ST  04/18/2019     2  7870637  2529228    12
2770437  TIMES SQ-42 ST  04/18/2019     3  7871493  2529518    12
2770438  TIMES SQ-42 ST  04/18/2019     4  7872183  2529754    12
2770439  TIMES SQ-42 ST  04/18/2019     5  7873256  2530051    12
2770440  TIMES SQ-42 ST  04/19/2019     0  7874100  2530221    12
2770441  TIMES SQ-42 ST  04/19/2019     1  7874265  2530249    12
2770442  TIMES SQ-42 ST  04/19/2019     2  7874616  2530331    12
2770443  TIMES SQ-42 ST  04/19/2019     3  7875260  2530573    12
2770444  TIMES SQ-42 ST  04/19/2019     4  7875926  2530808    12
2770445  TIMES SQ-42 ST  04/19/2019     4  7876638  2531058    12
2770446  TIMES SQ-42 ST  04/19/2019     5  7876889  2531134    12

[942259 rows x 7 columns]

In [10]:
df = df[df.LINENAME != '']
lines = df.LINENAME.unique()[1:]

In [11]:
df_dict = {}
for line in lines:
    df_dict[line] = process_line(df[df.LINENAME == line])
    df_dict[line] = df_dict[line].sort_values(by=['DATE','TIME'])
    #df_dict[line].to_csv(line+"line.csv")

In [12]:
for key in df_dict.keys():
    stations = df_dict[key].STATION.unique()
    df_dict[key].ENTRIES = abs(df_dict[key].ENTRIES - df_dict[key].shift(len(stations)).ENTRIES)%40000
    df_dict[key].EXITS = abs(df_dict[key].EXITS - df_dict[key].shift(len(stations)).EXITS)%40000
    df_dict[key].dropna()
    
    df_dict[key] = df_dict[key].fillna(0.0)
    df_dict[key].to_csv(key+"line.csv",index=True,sep=',')

In [14]:
df_dict['R']

              STATION        DATE  TIME  ENTRIES    EXITS
0      14 ST-UNION SQ  04/13/2019     0      0.0      0.0
42              23 ST  04/13/2019     0      0.0      0.0
84              25 ST  04/13/2019     0      0.0      0.0
126             28 ST  04/13/2019     0      0.0      0.0
168   34 ST-HERALD SQ  04/13/2019     0      0.0      0.0
210             36 ST  04/13/2019     0      0.0      0.0
252         4 AV-9 ST  04/13/2019     0      0.0      0.0
294   42 ST-PORT AUTH  04/13/2019     0      0.0      0.0
336             45 ST  04/13/2019     0      0.0      0.0
378             46 ST  04/13/2019     0      0.0      0.0
420             49 ST  04/13/2019     0      0.0      0.0
462          4AV-9 ST  04/13/2019     0      0.0      0.0
504        5 AV/59 ST  04/13/2019     0      0.0      0.0
546             53 ST  04/13/2019     0      0.0      0.0
588        57 ST-7 AV  04/13/2019     0      0.0      0.0
630             59 ST  04/13/2019     0      0.0      0.0
672   63 DR-REGO PARK  04/13/2019     0      0.0      0.0
714             65 ST  04/13/2019     0      0.0      0.0
756             67 AV  04/13/2019     0      0.0      0.0
798    74 ST-BROADWAY  04/13/2019     0      0.0      0.0
840             77 ST  04/13/2019     0      0.0      0.0
882          8 ST-NYU  04/13/2019     0      0.0      0.0
924             86 ST  04/13/2019     0      0.0      0.0
966    ATL AV-BARCLAY  04/13/2019     0      0.0      0.0
1008     BAY RIDGE AV  04/13/2019     0      0.0      0.0
1050  BAY RIDGE-95 ST  04/13/2019     0      0.0      0.0
1092     BOROUGH HALL  04/13/2019     0      0.0      0.0
1134         CANAL ST  04/13/2019     0      0.0      0.0
1176        CITY HALL  04/13/2019     0      0.0      0.0
1218     CORTLANDT ST  04/13/2019     0      0.0      0.0
...               ...         ...   ...      ...      ...
839    74 ST-BROADWAY  04/19/2019     5    812.0   1556.0
881             77 ST  04/19/2019     5    747.0    646.0
923          8 ST-NYU  04/19/2019     5   5829.0   3928.0
965             86 ST  04/19/2019     5   1869.0   2019.0
1007   ATL AV-BARCLAY  04/19/2019     5  10219.0  12191.0
1049     BAY RIDGE AV  04/19/2019     5   1244.0   1424.0
1091  BAY RIDGE-95 ST  04/19/2019     5    773.0   1145.0
1133     BOROUGH HALL  04/19/2019     5   7873.0   4421.0
1175         CANAL ST  04/19/2019     5  16047.0   6735.0
1217        CITY HALL  04/19/2019     5   2131.0    558.0
1259     CORTLANDT ST  04/19/2019     5   6716.0   3043.0
1301        DEKALB AV  04/19/2019     5   5476.0   2225.0
1343      ELMHURST AV  04/19/2019     5   1278.0    528.0
1385  FOREST HILLS 71  04/19/2019     5   3634.0   3723.0
1427    GRAND-NEWTOWN  04/19/2019     5   1849.0   3280.0
1469  JAY ST-METROTEC  04/19/2019     5   1161.0    556.0
1511  JKSN HT-ROOSVLT  04/19/2019     5   9348.0  12175.0
1553    NORTHERN BLVD  04/19/2019     5    941.0   1463.0
1595        PRINCE ST  04/19/2019     5   7058.0   3869.0
1637      PROSPECT AV  04/19/2019     5   1077.0   1230.0
1679     QUEENS PLAZA  04/19/2019     5   2456.0   2572.0
1721        RECTOR ST  04/19/2019     5   2283.0    307.0
1763    RIT-MANHATTAN  04/19/2019     5   1238.0     34.0
1805    RIT-ROOSEVELT  04/19/2019     5   1020.0     17.0
1847      SOUTH FERRY  04/19/2019     5   3136.0   1973.0
1889      STEINWAY ST  04/19/2019     5   3417.0   3532.0
1931   TIMES SQ-42 ST  04/19/2019     5  24001.0  11411.0
1973         UNION ST  04/19/2019     5   1565.0   1701.0
2015  WHITEHALL S-FRY  04/19/2019     5   4429.0   2607.0
2057   WOODHAVEN BLVD  04/19/2019     5   3833.0   3300.0

[2058 rows x 5 columns]