In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data.txt")
df = df.rename(columns=lambda x: x.strip())
df = df.drop(['C/A','UNIT','SCP','DIVISION','DESC'],axis = 1)
df['LINENAME'] = df['LINENAME'].str.split("")

In [3]:
df["TIME"] = df["TIME"].str.split(':').str[0].astype(int)

In [4]:
df["TIME"] = (df["TIME"]/4).astype(int)

In [5]:
df = df.LINENAME.apply(pd.Series) \
    .merge(df, right_index = True, left_index = True) \
    .drop(["LINENAME"], axis = 1) \
    .melt(id_vars = ['STATION', 'DATE','TIME','ENTRIES','EXITS'], value_name = "LINENAME") \
    .drop("variable", axis = 1) \
    .dropna()

In [6]:
def process_line(df):
    return df.groupby(['STATION','DATE','TIME'], as_index=False).agg({"ENTRIES": "sum","EXITS": "sum"})

In [7]:
df = df[df.LINENAME != '']
lines = df.LINENAME.unique()[1:]

In [8]:
df_dict = {}
for line in lines:
    df_dict[line] = process_line(df[df.LINENAME == line])
    df_dict[line] = df_dict[line].sort_values(by=['DATE','TIME'])
    #df_dict[line].to_csv(line+"line.csv")

In [9]:
for key in df_dict.keys():
    stations = df_dict[key].STATION.unique()
    df_dict[key].ENTRIES = abs(df_dict[key].ENTRIES - df_dict[key].shift(len(stations)).ENTRIES)
    df_dict[key].EXITS = abs(df_dict[key].EXITS - df_dict[key].shift(len(stations)).EXITS)
    df_dict[key].dropna()
    
    df_dict[key] = df_dict[key].fillna(0.0)
    df_dict[key].to_csv(key+"line.csv",index=True,sep=',')

              STATION        DATE  TIME       ENTRIES         EXITS
0      14 ST-UNION SQ  04/13/2019     0  0.000000e+00  0.000000e+00
42              23 ST  04/13/2019     0  0.000000e+00  0.000000e+00
84              25 ST  04/13/2019     0  0.000000e+00  0.000000e+00
126             28 ST  04/13/2019     0  0.000000e+00  0.000000e+00
168   34 ST-HERALD SQ  04/13/2019     0  0.000000e+00  0.000000e+00
210             36 ST  04/13/2019     0  0.000000e+00  0.000000e+00
252         4 AV-9 ST  04/13/2019     0  0.000000e+00  0.000000e+00
294   42 ST-PORT AUTH  04/13/2019     0  0.000000e+00  0.000000e+00
336             45 ST  04/13/2019     0  0.000000e+00  0.000000e+00
378             46 ST  04/13/2019     0  0.000000e+00  0.000000e+00
420             49 ST  04/13/2019     0  0.000000e+00  0.000000e+00
462          4AV-9 ST  04/13/2019     0  0.000000e+00  0.000000e+00
504        5 AV/59 ST  04/13/2019     0  0.000000e+00  0.000000e+00
546             53 ST  04/13/2019     0  0.000000e+00  0.000000e+00
588        57 ST-7 AV  04/13/2019     0  0.000000e+00  0.000000e+00
630             59 ST  04/13/2019     0  0.000000e+00  0.000000e+00
672   63 DR-REGO PARK  04/13/2019     0  0.000000e+00  0.000000e+00
714             65 ST  04/13/2019     0  0.000000e+00  0.000000e+00
756             67 AV  04/13/2019     0  0.000000e+00  0.000000e+00
798    74 ST-BROADWAY  04/13/2019     0  0.000000e+00  0.000000e+00
840             77 ST  04/13/2019     0  0.000000e+00  0.000000e+00
882          8 ST-NYU  04/13/2019     0  0.000000e+00  0.000000e+00
924             86 ST  04/13/2019     0  0.000000e+00  0.000000e+00
966    ATL AV-BARCLAY  04/13/2019     0  0.000000e+00  0.000000e+00
1008     BAY RIDGE AV  04/13/2019     0  0.000000e+00  0.000000e+00
1050  BAY RIDGE-95 ST  04/13/2019     0  0.000000e+00  0.000000e+00
1092     BOROUGH HALL  04/13/2019     0  0.000000e+00  0.000000e+00
1134         CANAL ST  04/13/2019     0  0.000000e+00  0.000000e+00
1176        CITY HALL  04/13/2019     0  0.000000e+00  0.000000e+00
1218     CORTLANDT ST  04/13/2019     0  0.000000e+00  0.000000e+00
...               ...         ...   ...           ...           ...
839    74 ST-BROADWAY  04/19/2019     5  8.120000e+02  1.556000e+03
881             77 ST  04/19/2019     5  7.470000e+02  6.460000e+02
923          8 ST-NYU  04/19/2019     5  5.829000e+03  3.928000e+03
965             86 ST  04/19/2019     5  1.869000e+03  2.019000e+03
1007   ATL AV-BARCLAY  04/19/2019     5  1.021900e+04  1.219100e+04
1049     BAY RIDGE AV  04/19/2019     5  1.244000e+03  1.424000e+03
1091  BAY RIDGE-95 ST  04/19/2019     5  7.730000e+02  1.145000e+03
1133     BOROUGH HALL  04/19/2019     5  7.873000e+03  4.421000e+03
1175         CANAL ST  04/19/2019     5  1.604700e+04  6.735000e+03
1217        CITY HALL  04/19/2019     5  2.131000e+03  5.580000e+02
1259     CORTLANDT ST  04/19/2019     5  6.716000e+03  3.043000e+03
1301        DEKALB AV  04/19/2019     5  5.476000e+03  2.225000e+03
1343      ELMHURST AV  04/19/2019     5  1.278000e+03  5.280000e+02
1385  FOREST HILLS 71  04/19/2019     5  3.634000e+03  3.723000e+03
1427    GRAND-NEWTOWN  04/19/2019     5  1.849000e+03  3.280000e+03
1469  JAY ST-METROTEC  04/19/2019     5  1.161000e+03  5.560000e+02
1511  JKSN HT-ROOSVLT  04/19/2019     5  9.348000e+03  1.217500e+04
1553    NORTHERN BLVD  04/19/2019     5  9.410000e+02  1.463000e+03
1595        PRINCE ST  04/19/2019     5  7.058000e+03  3.869000e+03
1637      PROSPECT AV  04/19/2019     5  1.077000e+03  1.230000e+03
1679     QUEENS PLAZA  04/19/2019     5  2.456000e+03  2.572000e+03
1721        RECTOR ST  04/19/2019     5  2.283000e+03  3.070000e+02
1763    RIT-MANHATTAN  04/19/2019     5  1.238000e+03  3.400000e+01
1805    RIT-ROOSEVELT  04/19/2019     5  1.020000e+03  1.700000e+01
1847      SOUTH FERRY  04/19/2019     5  3.136000e+03  1.973000e+03
1889      STEINWAY ST  04/19/2019     5  3.417000e+03  3.532000e+03
1931   TIMES SQ-42 ST  04/19/2019     5 -1.920464e+09 -1.848571e+09
1973         UNION ST  04/19/2019     5  1.565000e+03  1.701000e+03
2015  WHITEHALL S-FRY  04/19/2019     5  4.429000e+03  2.607000e+03
2057   WOODHAVEN BLVD  04/19/2019     5  3.833000e+03  3.300000e+03

[2058 rows x 5 columns]